<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Invoice</title>
    <link rel="stylesheet" href="./../../styles.css" />
  </head>
  <body class="bg-[#f8f5f5]">
    <h2 class="text-center text-2xl mt-4">Create Invoice</h2>

    <form class="m-10" action="/invoices/create-invoice" method="post">
      <header class="flex justify-evenly">
        <div class="flex">
          <label class="text-[#04040e] text-xl">From:</label>
          <select
            name="business"
            id="from"
            class="ml-5"
            onclick="fromHandler()"
            required
          >
            <option value=""></option>
            <% user?.businesses.forEach(business=> { %>
            <option value="<%=business._id %>"><%=business.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="flex ml-10">
          <label class="text-[rgb(4,4,14)]">To:</label>
          <select
            name="customer"
            id="to"
            class="ml-5"
            onclick="toHandler()"
            required
          >
            <option value=""></option>
            <% user?.customers.forEach(customer=> { %>
            <option value="<%=customer._id %>"><%=customer.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="ml-10">
          Date:
          <input
            type="date"
            name="date"
            id="curDate"
            value="<%= curDate%>"
            required
          />
        </div>

        <div class="ml-10">
          Due Date:
          <input
            type="date"
            name="dueDate"
            id="dueDate"
            value="<%=dueDate%>"
            required
          />
          <input type="text" name="dueDate" id="hiddenDueDate" class="hidden" />
          <span class="italic">(<i>15</i> days)</span>
        </div>
      </header>

      <main class="mt-8">
        <div class="text-center text-2xl">
          Invoice No:<input
            class="cursor-not-allowed"
            value="<%=invoiceNumber %>"
            name="number"
            readonly
          />
        </div>

        <section
          class="bg-[#fffdfd] m-7 rounded-lg border-2 text-center p-9 pt-5 border-fuchsia-500"
        >
          <h3 class="text-2xl pb-3">Item 1</h3>
          <div class="flex justify-evenly" id="items-container">
            <div class="flex flex-col">
              <label for="">Item Name</label>
              <input
                type="text"
                class="border-black border"
                placeholder="Item 1"
                oninput="itemNameListener()"
                id="item-name"
                name="items"
                required
              />
            </div>

            <div class="flex flex-col">
              <label for="">Item Quantity</label>
              <input
                type="number"
                class="border-black border"
                placeholder="1"
                name="quantities"
                required
              />
            </div>

            <div class="flex flex-col">
              <label for="">Item Rate</label>
              <input
                type="number"
                class="border-black border"
                placeholder="1"
                name="rates"
                required
              />
            </div>

            <div class="flex flex-col">
              <label for="">Item Total</label>
              <input
                name="subTotals"
                type="number"
                class="border-gray-300 border cursor-no-drop"
                readonly
              />
            </div>

            <div class="flex">
              <span
                onclick="removeItemListener()"
                class="bg-[red] p-2 rounded-lg text-white text-xl transition duration-200 hover:scale-105 ease-in-out cursor-pointer"
                >Remove</span
              >
            </div>
          </div>
        </section>
      </main>

      <div class="flex justify-end mr-7">
        <span
          class="bg-[#48d448] p-2 rounded-lg text-white text-xl transition duration-200 hover:scale-105 ease-in-out cursor-pointer"
          id="add-item"
          onclick="addItemListener()"
          ><b class="text-2xl">+</b> Add Item</span
        >
      </div>

      <div class="flex justify-center mt-9">
        <button
          class="text-2xl bg-cyan-800 text-white px-40 py-2 rounded-md transition ease-in-out hover:scale-105 duration-500"
          type="submit"
        >
          Submit
        </button>
      </div>
    </form>

    <script>
      const from = document.querySelector('#from');
      const to = document.querySelector('#to');
      const curDate = document.querySelector('#curDate');
      const dueDate = document.querySelector('#dueDate');
      const addItem = document.querySelector('#addItem');
      const main = document.querySelector('main');
      const itemsContainer = document.querySelectorAll('#items-container');
      const dateDiff = document.querySelector('i');
      const hiddenDueDate = document.querySelector('#hiddenDueDate');

      hiddenDueDate.value = dateDiff.textContent;

      curDate.addEventListener('input', () => {
        hiddenDueDate.value = dateDiff.textContent =
          (Date.parse(dueDate.value) - Date.parse(curDate.value)) /
          (1000 * 60 * 60 * 24);
      });

      dueDate.addEventListener('input', () => {
        hiddenDueDate.value = dateDiff.textContent =
          (Date.parse(dueDate.value) - Date.parse(curDate.value)) /
          (1000 * 60 * 60 * 24);
      });

      const removeItemListener = () => {
        const allSections = [...main.children];

        allSections.forEach((ele, i) => {
          if (!ele.textContent.includes('Invoice')) {
            const removeElement =
              ele.children[1].lastElementChild.lastElementChild;

            removeElement.addEventListener('click', () => {
              const items = [...ele.children[1].children];
              items.forEach((ele, i, arr) => {
                if (i < arr.length - 1)
                  ele.lastElementChild.setAttribute('disabled', true);
              });
              ele.classList.add('hidden');
            });
          }
        });
      };

      const listener = () => {
        const allSections = [...main.children];

        allSections.forEach((ele, i) => {
          if (i > 0) {
            const itemQuantityContainer =
              ele.children.namedItem('items-container').children[1];
            const itemRateContainer =
              ele.children.namedItem('items-container').children[2];
            const itemTotalContainer =
              ele.children.namedItem('items-container').children[3];

            // prettier-ignore
            itemQuantityContainer.children[1].setAttribute('value', itemQuantityContainer.children[1].value)
            // prettier-ignore
            itemRateContainer.children[1].setAttribute('value', itemRateContainer.children[1].value)
            // prettier-ignore
            itemTotalContainer.children[1].setAttribute('value', itemTotalContainer.children[1].value)

            itemQuantityContainer.children[1].addEventListener('input', () => {
              itemTotalContainer.children[1].value =
                +itemQuantityContainer.children[1].value *
                +itemRateContainer.children[1].value;

              // prettier-ignore
              itemQuantityContainer.children[1].setAttribute('value', itemQuantityContainer.children[1].value)
              // prettier-ignore
              itemRateContainer.children[1].setAttribute('value', itemRateContainer.children[1].value)
              // prettier-ignore
              itemTotalContainer.children[1].setAttribute('value', +itemTotalContainer.children[1].value)

              if (itemQuantityContainer.children[1].value) {
                itemQuantityContainer.children[1].classList.add(
                  'border-[#4dee4d]'
                );
                itemQuantityContainer.children[1].classList.add(
                  'shadow-[#4dee4d]'
                );
                itemQuantityContainer.children[1].classList.add('shadow-md');
                itemQuantityContainer.children[1].classList.remove(
                  'border-[red]'
                );
                itemQuantityContainer.children[1].classList.remove(
                  'shadow-[red]'
                );
                itemQuantityContainer.children[1].classList.remove(
                  'border-black'
                );
              } else {
                itemQuantityContainer.children[1].classList.remove(
                  'border-black'
                );
                itemQuantityContainer.children[1].classList.add('border-[red]');
                itemQuantityContainer.children[1].classList.add('shadow-md');
                itemQuantityContainer.children[1].classList.add('shadow-[red]');
              }
            });

            itemRateContainer.children[1].addEventListener('input', () => {
              itemTotalContainer.children[1].value =
                +itemQuantityContainer.children[1].value *
                +itemRateContainer.children[1].value;

              // prettier-ignore
              +itemQuantityContainer.children[1].setAttribute('value', itemQuantityContainer.children[1].value)
              // prettier-ignore
              +itemRateContainer.children[1].setAttribute('value', itemRateContainer.children[1].value)
              // prettier-ignore
              +itemTotalContainer.children[1].setAttribute('value', itemTotalContainer.children[1].value)

              if (itemRateContainer.children[1].value) {
                itemRateContainer.children[1].classList.add('border-[#4dee4d]');
                itemRateContainer.children[1].classList.add('shadow-[#4dee4d]');
                itemRateContainer.children[1].classList.add('shadow-md');
                itemRateContainer.children[1].classList.remove('border-[red]');
                itemRateContainer.children[1].classList.remove('shadow-[red]');
                itemRateContainer.children[1].classList.remove('border-black');
              } else {
                itemRateContainer.children[1].classList.remove('border-black');
                itemRateContainer.children[1].classList.add('border-[red]');
                itemRateContainer.children[1].classList.add('shadow-md');
                itemRateContainer.children[1].classList.add('shadow-[red]');
              }
            });
          }
        });
      };

      listener();

      const itemNameListener = function () {
        const mainItems = [...main.children];
        mainItems.forEach((ele, i) => {
          if (!ele.textContent.includes('Invoice No')) {
            const itemName = ele.children[1].children[0].children[1];
            const itemNameHeader = ele.children[0];
            itemName.addEventListener('input', () => {
              itemNameHeader.textContent = itemName.value;
            });

            if (itemName.value) {
              itemName.classList.add('border-[#4dee4d]');
              itemName.classList.add('shadow-[#4dee4d]');
              itemName.classList.add('shadow-md');
              itemName.classList.remove('border-[red]');
              itemName.classList.remove('shadow-[red]');
              itemName.classList.remove('border-black');
            } else {
              itemName.classList.remove('border-black');
              itemName.classList.add('border-[red]');
              itemName.classList.add('shadow-md');
              itemName.classList.add('shadow-[red]');
            }
          }
        });
      };

      let add = 1;
      function addItemListener() {
        ++add;
        main.innerHTML += `<section
        class="bg-[#fffdfd] m-7 rounded-lg border-2 text-center p-9 pt-5 border-fuchsia-500"

      >
        <h3 class="text-2xl pb-3">Item ${add}</h3>
        <div class="flex justify-evenly"   id="items-container">
          <div class="flex flex-col">
            <label for="">Item Name</label>
            <input
              type="text"
              class="border-black border"
              placeholder="Item ${add}"
              oninput="itemNameListener()"
              id="item-name"
              name="items"
              required
            />
          </div>

          <div class="flex flex-col">
            <label for="">Item Quantity</label>
            <input
              type="number"
              class="border-black border"
              placeholder="1"
              name="quantities"
              required
            />
          </div>

          <div class="flex flex-col">
            <label for="">Item Rate</label>
            <input
              type="number"
              class="border-black border"
              placeholder="1"
              name="rates"
              required
            />
          </div>

          <div class="flex flex-col">
            <label for="">Item Total</label>
            <input
              type="number"
              class="border-gray-300 border cursor-no-drop"
              value=""
              name="subTotals"
              readonly
            />
          </div>

          <div class="flex">
            <span
            onclick="removeItemListener()"
              class="bg-[red] p-2 rounded-lg text-white text-xl transition duration-200 hover:scale-105 ease-in-out cursor-pointer"
              >Remove</span
            >
          </div>
        </div>
      </section>`;

        listener();

        const mainItems = [...main.children];
        mainItems.forEach((ele, i, arr) => {
          if (!ele.textContent.includes('Invoice No') && i < arr.length - 1) {
            const itemQuantity =
              ele.children.namedItem('items-container').children[1].children[1];
            const itemRate =
              ele.children.namedItem('items-container').children[2].children[1];
            const itemTotal =
              ele.children.namedItem('items-container').children[3].children[1];
            const itemName = ele.children[1].children[0].children[1];
            const itemNameHeader = ele.children[0];
            itemName.value = itemNameHeader.textContent;
          }
        });
      }

      let fromClicked = 0;
      const fromHandler = () => {
        fromClicked++;
        if (!(fromClicked > 1)) {
          from.options.remove(0);
        }
      };

      let toClicked = 0;
      const toHandler = () => {
        toClicked++;
        if (!(toClicked > 1)) {
          to.options.remove(0);
        }
      };
    </script>
  </body>
</html>
