<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoices</title>
    <link rel="stylesheet" href="./../../styles.css" />
  </head>
  <body class="bg-[#f0eaea]">
    <%- include('./../partials/nav') %>

    <div class="grid grid-cols-4 gap-10">
      <%- include('./../partials/profileActions') %>

      <main class="col-span-3">
        <div class="flex flex-col">
          <div><h1 class="text-center text-3xl p-4">Invoices</h1></div>

          <% if (user?.invoices?.length === 0) { %>
          <div class="flex">
            <h1>You have no invoice</h1>

            <span class="ml-2">
              <a
                href="/invoices/create-invoice"
                class="border-2 border-indigo-500 px-3 py-1 bg-purple-700 text-white rounded-md text-base hover:bg-purple-600 hover:scale-90 hover:text-[17px] transition ease-in-out duration-300"
                >Create Invoice</a
              >
            </span>
          </div>

          <% } %> <% user.invoices?.forEach(invoice => { %>
          <div
            class="bg-[#fffdfd] m-3 rounded-3xl border-2 text-center p-3 border-blue-300"
          >
            <h3 class="text-xl">Invoice No: <%= invoice?.number %></h3>

            <h3>Date: <%= invoice?.date %></h3>

            <div class="flex flex-row justify-around mt-2 text-xl">
              <h3>From: <%= invoice?.business %></h3>
              <h3>To: <%= invoice?.customer %></h3>
            </div>

            <div class="mt-2 pt-4 pr-8">
              <div class="flex justify-end">
                <a href="/invoices/invoice/<%#= invoice?._id %>" class="mr-32"
                  ><span
                    class="border-2 border-indigo-500 px-3 py-1 bg-purple-700 text-white rounded-md text-xl hover:bg-purple-600 hover:scale-105 hover:text-[22px] transition ease-in-out duration-300"
                    >View</span
                  ></a
                >

                <form
                  action="/invoices/delete-invoice/<%#= invoice?._id %>?_method=DELETE"
                  method="post"
                >
                  <button>
                    <i
                      class="fa-solid fa-trash-can text-xl text-[red] hover:scale-105 hover:text-[21px] transition ease-in-out cursor-pointer"
                      title="Delete Invoice"
                    ></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </main>
    </div>
  </body>
</html>
