<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoices</title>
    <link rel="stylesheet" href="./../../styles.css" />
  </head>
  <body class="bg-[#f0eaea]">
    <%- include('./../partials/nav') %>

    <div class="grid grid-cols-4 gap-10">
      <%- include('./../partials/profileActions') %>

      <main class="col-span-3">
        <div class="flex flex-col">
          <div><h1 class="text-center text-3xl p-4">Invoices</h1></div>
          <% if (user.invoices.length >= 1) { %>
          <div class="flex justify-end mr-7">
            <a
              href="/invoices/create-invoice"
              class="bg-[#48d448] p-2 rounded-lg text-white text-xl transition duration-200 hover:scale-105 ease-in-out cursor-pointer"
              id="add-item"
              ><b class="text-2xl">+</b>New Invoice</a
            >
          </div>
          <% } %> <% if (user.invoices.length === 0) { %>
          <div>
            <div class="flex justify-center mt-16">
              <a
                href="/invoices/create-invoice"
                class="bg-[#48d448] py-3 px-6 rounded-lg text-white text-2xl transition duration-200 hover:scale-105 ease-in-out cursor-pointer"
                id="add-item"
                >Create Invoice</a
              >
            </div>
          </div>

          <% } %>
          <div class="mr-7 mt-5">
            <table class="w-full text-sm text-left text-gray-500">
              <thead class="text-base text-white uppercase bg-blue-700">
                <tr>
                  <th class="px-6 py-3">Invoice No.</th>
                  <th class="px-6 py-3">Date</th>
                  <th class="px-6 py-3">Business</th>
                  <th class="px-6 py-3">Customer</th>
                  <th class="px-6 py-3">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% user?.invoices.reverse().forEach((invoice) => {%>
                <tr
                  class="border-blue-800 even:bg-gray-300 odd:bg-gray-100 even:text-black odd:text-black border-b odd:hover:bg-white even:hover:bg-gray-200 text-base"
                >
                  <td class="px-6 py-4 border border-purple-700">
                    <%= invoice?.number%>
                  </td>
                  <td class="px-6 py-4 border border-purple-700">
                    <%= invoice?.date%>
                  </td>
                  <td class="px-6 py-4 border border-purple-700">
                    <%= invoice?.business.name %>
                  </td>
                  <td class="px-6 py-4 border border-purple-700">
                    <%= invoice?.customer?.name %>
                  </td>
                  <td class="px-6 py-4 border border-purple-700">
                    <div class="flex">
                      <a
                        href="/invoices/invoice/<%= invoice?._id %>"
                        class="mr-9"
                        ><span
                          class="border-2 border-indigo-500 even: px-2 py-1 bg-purple-700 text-white rounded-md text-base hover:bg-purple-600 hover:scale-105 transition ease-in-out duration-300"
                          >View</span
                        ></a
                      >

                      <form
                        action="/invoices/delete-invoice/<%= invoice?._id %>?_method=DELETE"
                        method="post"
                      >
                        <button>
                          <i
                            class="fa-solid fa-trash-can text-xl text-[red] hover:scale-110 transition ease-in-out cursor-pointer"
                            title="Delete Invoice"
                          ></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
